@font-face {
    font-family: 'NexaBold';
    src: url('../fonts/NexaBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NexaBold.otf')  format('opentype'),
         url('../fonts/NexaBold.woff') format('woff'),
         url('../fonts/NexaBold.ttf')  format('truetype'),
         url('../fonts/NexaBold.svg#NexaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NexaLight';
    src: url('../fonts/NexaLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NexaLight.otf')  format('opentype'),
         url('../fonts/NexaLight.woff') format('woff'),
         url('../fonts/NexaLight.ttf')  format('truetype'),
         url('../fonts/NexaLight.svg#NexaLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NexaSlabHeavyOblique';
    src: url('../fonts/NexaSlabHeavyOblique.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NexaSlabHeavyOblique.otf')  format('opentype'),
         url('../fonts/NexaSlabHeavyOblique.woff') format('woff'),
         url('../fonts/NexaSlabHeavyOblique.ttf')  format('truetype'),
         url('../fonts/NexaSlabHeavyOblique.svg#NexaSlabHeavyOblique') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NexaSlabHeavyItalic';
    src: url('../fonts/NexaSlabHeavyItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NexaSlabHeavyItalic.otf')  format('opentype'),
         url('../fonts/NexaSlabHeavyItalic.woff') format('woff'),
         url('../fonts/NexaSlabHeavyItalic.ttf')  format('truetype'),
         url('../fonts/NexaSlabHeavyItalic.svg#NexaSlabHeavyItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NexaSlabRegularOblique';
    src: url('../fonts/NexaSlabRegularOblique.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NexaSlabRegularOblique.otf')  format('opentype'),
         url('../fonts/NexaSlabRegularOblique.woff') format('woff'),
         url('../fonts/NexaSlabRegularOblique.ttf')  format('truetype'),
         url('../fonts/NexaSlabRegularOblique.svg#NexaSlabRegularOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'NexaSlabRegularItalic';
    src: url('../fonts/NexaSlabRegularItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NexaSlabRegularItalic.otf')  format('opentype'),
         url('../fonts/NexaSlabRegularItalic.woff') format('woff'),
         url('../fonts/NexaSlabRegularItalic.ttf')  format('truetype'),
         url('../fonts/NexaSlabRegularItalic.svg#NexaSlabRegularItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
