@font-face {
    font-family: 'NexaBold';
    src: url('NexaBold.eot?#iefix') format('embedded-opentype'),
         url('NexaBold.otf')  format('opentype'),
         url('NexaBold.woff') format('woff'),
         url('NexaBold.ttf')  format('truetype'),
         url('NexaBold.svg#NexaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NexaLight';
    src: url('NexaLight.eot?#iefix') format('embedded-opentype'),
         url('NexaLight.otf')  format('opentype'),
         url('NexaLight.woff') format('woff'),
         url('NexaLight.ttf')  format('truetype'),
         url('NexaLight.svg#NexaLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NexaSlabHeavyOblique';
    src: url('NexaSlabHeavyOblique.eot?#iefix') format('embedded-opentype'),
         url('NexaSlabHeavyOblique.otf')  format('opentype'),
         url('NexaSlabHeavyOblique.woff') format('woff'),
         url('NexaSlabHeavyOblique.ttf')  format('truetype'),
         url('NexaSlabHeavyOblique.svg#NexaSlabHeavyOblique') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NexaSlabHeavyItalic';
    src: url('NexaSlabHeavyItalic.eot?#iefix') format('embedded-opentype'),
         url('NexaSlabHeavyItalic.otf')  format('opentype'),
         url('NexaSlabHeavyItalic.woff') format('woff'),
         url('NexaSlabHeavyItalic.ttf')  format('truetype'),
         url('NexaSlabHeavyItalic.svg#NexaSlabHeavyItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NexaSlabRegularOblique';
    src: url('NexaSlabRegularOblique.eot?#iefix') format('embedded-opentype'),
         url('NexaSlabRegularOblique.otf')  format('opentype'),
         url('NexaSlabRegularOblique.woff') format('woff'),
         url('NexaSlabRegularOblique.ttf')  format('truetype'),
         url('NexaSlabRegularOblique.svg#NexaSlabRegularOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'NexaSlabRegularItalic';
    src: url('NexaSlabRegularItalic.eot?#iefix') format('embedded-opentype'),
         url('NexaSlabRegularItalic.otf')  format('opentype'),
         url('NexaSlabRegularItalic.woff') format('woff'),
         url('NexaSlabRegularItalic.ttf')  format('truetype'),
         url('NexaSlabRegularItalic.svg#NexaSlabRegularItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
